html, body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  transition: all 350ms ease-in-out; }

.fix-break-word, p {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
   -ms-hyphens: auto;
       hyphens: auto; }

.label {
  margin-right: .4rem; }

.blockquote {
  border: none;
  text-align: center; }
  .blockquote img {
    max-width: 100%;
    height: auto; }

.jumbotron {
  margin-bottom: 0; }

.highlight {
  background-color: #FFFF88; }

.modal-header .close {
  padding-left: .65rem; }

.modal--fix {
  max-height: 98%; }
  .modal--fix .modal-dialog {
    height: 100%;
    max-width: 100%;
    overflow: hidden; }
  .modal--fix .modal-content {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 8%; }
  .modal--fix .modal-body {
    max-height: 98%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }

@media (min-width: 62em) {
  .modal--fix {
    max-height: none; }
    .modal--fix .modal-dialog, .modal--fix .modal-content, .modal--fix .modal-body {
      height: auto;
      overflow: auto; }
    .modal--fix .modal-content {
      padding-bottom: 0; } }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

/*
    http://www.fontspace.com/538fonts/dressedless
    https://everythingfonts.com/ttf-to-svg
    */
@font-face {
  font-family: 'Dressedless Three';
  src: url("resources/fonts/Dressedless_Three.ttf") format("truetype"), url("resources/fonts/Dressedless_Three.svg") format("svg");
  /* Legacy iOS */ }

/*https://github.com/tobiasahlin/SpinKit*/
/* spinner */
.spinner {
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/*end spinner*/
.logo {
  margin: 0 auto;
  width: 3rem;
  height: 3rem; }
  .logo img {
    display: inherit;
    width: 100%;
    height: 100%;
    border-radius: 20%; }

.nav-bar {
  position: absolute;
  top: 0.15rem;
  right: 5%;
  z-index: 10;
  display: inline-block;
  transition: all 1s; }
  .nav-bar > * {
    float: left;
    display: inline-block;
    margin-right: .45rem; }
  .nav-bar:last-child {
    margin-right: 0; }
  .nav-bar i {
    color: #70B7FD; }
    .nav-bar i:hover, .nav-bar i:active {
      color: #59AAF9; }
  .nav-bar > *:nth-child(1) {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms; }
  .nav-bar > *:nth-child(2) {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-delay: 650ms;
            animation-delay: 650ms; }
  .nav-bar > *:nth-child(3) {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms; }
  .nav-bar > *:nth-child(4) {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-delay: 950ms;
            animation-delay: 950ms; }
  .nav-bar > *:nth-child(5) {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-delay: 1100ms;
            animation-delay: 1100ms; }

@media (max-width: 34em) {
  .nav-bar {
    right: 1%; } }

@media (min-width: 100em) {
  .nav-bar {
    right: 15%; } }

.main {
  padding-top: 2.5rem; }

.main-title {
  text-align: center;
  padding: 0 1.2rem; }
  .main-title > header a {
    color: inherit;
    text-decoration: none; }
    .main-title > header a:visited, .main-title > header a:link, .main-title > header a:active, .main-title > header a:hover {
      color: inherit;
      text-decoration: none; }
  .main-title h1 {
    font-family: "Dressedless Three",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem; }
    .main-title h1.animated span {
      transition: color 250ms linear;
      /*C*/
      /*O*/
      /*D*/
      /*E*/
      /*L*/
      /*F*/ }
      .main-title h1.animated span:nth-child(1) {
        color: #3369e8;
        transition-delay: 200ms; }
      .main-title h1.animated span:nth-child(2) {
        color: #d50f25;
        transition-delay: 350ms; }
      .main-title h1.animated span:nth-child(3) {
        color: #eeb211;
        transition-delay: 500ms; }
      .main-title h1.animated span:nth-child(4) {
        color: #3369e8;
        transition-delay: 650ms; }
      .main-title h1.animated span:nth-child(5) {
        color: #009925;
        transition-delay: 800ms; }
      .main-title h1.animated span:nth-child(6) {
        color: #d50f25;
        transition-delay: 950ms; }
  .main-title h5 {
    max-height: 300px;
    transition: all 250ms ease-in-out;
    overflow: hidden; }
    .main-title h5 .label {
      background-color: #71b7fd; }

.search-form {
  padding: 1rem 0; }
  .search-form .input-group {
    height: 44px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1); }
    .search-form .input-group:focus, .search-form .input-group:active, .search-form .input-group:hover {
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .search-form input, .search-form button, .search-form a {
    height: 44px;
    line-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0 !important; }
  .search-form .dropdown-menu {
    max-height: 320px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .search-form button.search .more {
    display: none; }
  .search-form button.search.more .normal {
    display: none; }
  .search-form button.search.more .more {
    display: inline-block; }

.search-relate a:hover {
  text-decoration: underline; }

.search-result {
  padding-top: .8rem; }
  .search-result .ct {
    border-left: .15rem solid #eceeef;
    background: none; }
    .search-result .ct.ct--white {
      border-left: 0; }
  .search-result .variable-wrap {
    display: inline-block;
    cursor: pointer; }
    .search-result .variable-wrap .btn-sm {
      margin-right: .4rem;
      padding: 0 .4em;
      font-weight: bold; }
  .search-result a:hover {
    text-decoration: underline; }
  .search-result .hd {
    text-align: center; }
    .search-result .hd > div {
      text-align: center;
      display: none; }
    .search-result .hd.loading .loading, .search-result .hd.error .error {
      display: block;
      margin: 0 auto; }
    .search-result .hd .logo {
      margin: 0 auto 1rem; }

.notice-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  background: #fff; }

.notice-link a {
  display: none; }

.popover--variable {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #ccc; }
  .popover--variable .popover-content {
    padding: 0; }
  .popover--variable .btn {
    border-bottom: 0; }

.variable-btns > .variable-btns__copy {
  display: none; }

body.mobile .variable-btns__copy {
  display: none !important; }

body.dark .search-form .input-group {
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.16), 0 0 0 1px rgba(255, 255, 255, 0.08); }
  body.dark .search-form .input-group:focus, body.dark .search-form .input-group:active, body.dark .search-form .input-group:hover {
    box-shadow: 0 3px 12px 0 rgba(255, 255, 255, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.08); }

body.dark .search-result .ct, body.dark .search-result hr {
  border-color: rgba(0, 0, 0, 0.16); }

body.dark .notice-link {
  background: #272b38; }

body.dark .popover--variable {
  border-bottom: 0; }

@media (max-width: 767px) {
  .search-form button.search {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important; } }

@media (max-width: 34em) {
  .search-result .ct {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; } }

@media (min-width: 62em) {
  .main-title h1 {
    font-size: 4.5rem; }
  .search-relate {
    padding-bottom: 1.8rem; }
  .search-result .ct {
    overflow-x: auto; }
  .variable-btns > .variable-btns__copy {
    display: block; } }

@media (min-width: 100em) {
  .main {
    padding-top: 5rem; } }

.donate {
  display: block;
  padding-bottom: 5rem;
  margin-top: 1rem;
  text-align: center; }
  .donate form {
    display: inline-block; }
  .donate .title {
    padding-bottom: .8rem;
    text-align: center; }
    .donate .title .lang {
      display: none; }
    .donate .title.cn .cn, .donate .title.en .en {
      display: block; }
  .donate .bd {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center; }

.zhifubao, .wechatpay {
  margin-right: 1rem;
  margin-top: -3rem;
  width: 5rem; }

.paypal {
  width: 5rem; }

body.dark .zhifubao, body.dark .wechatpay, body.dark .paypal {
  background-color: #fff; }

.sourcecode-modal .dropdown-menu {
  max-height: 320px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.sourcecode-modal .cur-repo {
  margin-left: .4rem; }

.sourcecode-modal code {
  display: inline-block; }

.bookmark-logo {
  cursor: pointer;
  color: #70B7FD; }

.bookmark-modal .modal-header .btn, .bookmark-modal .modal-header .btn-group {
  margin-right: .4rem; }
  .bookmark-modal .modal-header .btn:last-child, .bookmark-modal .modal-header .btn-group:last-child {
    margin-right: 0; }

.bookmark-modal .modal-header .btn-group {
  padding: 0;
  margin: 0; }

.bookmark-modal .modal-body {
  padding: 0; }
  .bookmark-modal .modal-body > .hd {
    display: none;
    padding: 1rem; }
    .bookmark-modal .modal-body > .hd > div {
      display: none; }
    .bookmark-modal .modal-body > .hd.loading, .bookmark-modal .modal-body > .hd.empty, .bookmark-modal .modal-body > .hd.loading > .loading, .bookmark-modal .modal-body > .hd.empty > .empty {
      display: block;
      margin: 0 auto; }
    .bookmark-modal .modal-body > .hd > .empty {
      text-align: center; }
      .bookmark-modal .modal-body > .hd > .empty .top {
        margin: 2rem; }
      .bookmark-modal .modal-body > .hd > .empty .tip {
        text-align: left; }

.bookmark-modal .card-block, .bookmark-modal .card-header {
  padding: .5rem;
  color: #373a3c; }

.bookmark-modal .card-footer {
  padding: 0 0 .2rem .2rem; }

.bookmark-modal .repo-list {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0; }

.bookmark-modal .repo-group-item {
  border: 0;
  margin-bottom: 0; }
  .bookmark-modal .repo-group-item > .hd .dropdown-menu {
    min-width: initial; }
  .bookmark-modal .repo-group-item > .hd .search {
    display: none;
    cursor: pointer;
    max-width: 70%;
    margin-top: -0.25rem; }
  .bookmark-modal .repo-group-item[data-id="0"] > .hd .search {
    display: block; }
  .bookmark-modal .repo-group-item .hd .ctrl > div {
    display: inline-block;
    padding: 0 .4rem;
    cursor: pointer; }
  .bookmark-modal .repo-group-item[data-id="0"] > .hd .ctrl {
    display: none; }
  .bookmark-modal .repo-group-item .repo-item {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0; }
    .bookmark-modal .repo-group-item .repo-item:last-child {
      margin-bottom: 0; }
    .bookmark-modal .repo-group-item .repo-item .card-footer {
      border-top: 0; }
    .bookmark-modal .repo-group-item .repo-item a {
      word-break: break-all; }

.bookmark-modal .dropdown-menu .dropdown-item.add-repo .label {
  width: 1.15rem;
  height: 1.15rem;
  margin-bottom: -0.2rem; }
  .bookmark-modal .dropdown-menu .dropdown-item.add-repo .label i {
    display: none;
    color: #fff; }

.bookmark-modal .dropdown-menu .dropdown-item.add-repo[data-selected] .label {
  padding-left: 0;
  padding-right: 0; }
  .bookmark-modal .dropdown-menu .dropdown-item.add-repo[data-selected] .label i {
    display: inline-block; }

.bookmark-modal .tag-dots span {
  margin-left: .25rem; }

.bookmark-user-modal .user-item:first-child {
  margin-top: 1rem; }

.bookmark-user-modal .user-list .ctrl {
  margin-top: -0.25rem; }

@media (max-width: 34em) {
  .bookmark-modal .tag-dots span {
    margin-left: -.25rem; }
  .bookmark-modal .modal-header .btn {
    padding: .25rem;
    margin-right: .25rem; } }

body.dark {
  background: #272b38;
  color: #fff; }
