html,body{
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
.label {
  margin-right: .4em;
}
/*layout*/
.logo{
  margin: 0 auto;
  width: 3em;
  height: 3em;
}
.logo img{
  display: inherit;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  -webkit-border-radius: 20%;
}
.main-container{
  padding: 20px;
}
.main-title{
  text-align: center;
  padding: 0 20px;
}
.main-title>header a,
.main-title>header a:visited,
.main-title>header a:link,
.main-title>header a:active,
.main-title>header a:hover{
  color: inherit;
  text-decoration: none;
}
.main-title h1{
  font-family: "Dressedless Three",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;;
  text-transform: uppercase;
  font-size: 3.5em;
}
.main-title h1.animated span{
  transition: color 250ms linear;
}
/*C*/
.main-title h1.animated span:nth-child(1){
  color: #3369e8;
  transition-delay: 200ms;
}
/*O*/
.main-title h1.animated span:nth-child(2){
  color: #d50f25;
  transition-delay: 350ms;
}
/*D*/
.main-title h1.animated span:nth-child(3){
  color: #eeb211;
  transition-delay: 500ms;
}
/*E*/
.main-title h1.animated span:nth-child(4){
  color: #3369e8;
  transition-delay: 650ms;
}
/*L*/
.main-title h1.animated span:nth-child(5){
  color: #009925;
  transition-delay: 800ms;
}
/*F*/
.main-title h1.animated span:nth-child(6){
  color: #d50f25;
  transition-delay: 950ms;
}
.search-form{
  padding: 20px 0;
}
.search-form .dropdown-menu,
.sourcecode-modal .dropdown-menu{
  max-height: 320px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
}
.search-form .help{
  display: none;
}
.search-relate a:hover{
  text-decoration: underline;
}
.search-result{
  padding-top: 10px;
}
.search-result .ct{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.search-result .variable-wrap{
  display: inline-block;
  cursor: pointer;
}
.search-result a:hover{
  text-decoration: underline;
}
.search-result .hd,.search-result .hd>div{
  text-align: center;
}
.search-result .hd>div{
  display: none;
}
.search-result .hd.loading .loading,
.search-result .hd.error .error{
  display: block;
  margin: 0 auto;
}
.search-result .hd .logo{
  margin: 0 auto 1em;
}
.blockquote{
  text-align: center;
}
.blockquote img{
  max-width: 100%;
  height: auto;
}
.popover--variable{
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #ccc;
}
.popover--variable .popover-content{
  padding: 0;
}
.popover--variable .btn{
  border-bottom: 0;
}
.sourcecode-modal{
  max-height: 98%;
}
.sourcecode-modal .cur-repo{
  margin-right: .4em;
}
.sourcecode-modal .modal-dialog,
.sourcecode-modal .modal-content{
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.sourcecode-modal .modal-content{
  padding-bottom: 8%;
}
.sourcecode-modal .modal-body{
  max-height: 98%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.sourcecode-modal code{
  display: inline-block;
}
.variable-btns>.variable-btns__copy{
  display: none;
}
body.mobile .variable-btns__copy{
  display: none !important;
}
@media (min-width: 62em) {
  .main-container{
    padding: 20px 150px;
  }
  .main-title{
    padding: 0 50px;
  }
  .main-title h1{
    font-size: 4.5em;
  }
  .search-form .help{
    display: inline-block;
  }
  .search-relate{
    padding-bottom: 20px;
  }
  .search-result .ct{
    overflow-x: auto;
  }
  .github-corner svg{
    width: 80px;
    height: 80px;
  }
  .sourcecode-modal{
    max-height: none;
  }
  .sourcecode-modal .modal-dialog,
  .sourcecode-modal .modal-content,
  .sourcecode-modal .modal-body{
    height: auto;
    overflow: auto;
  }
  .sourcecode-modal .modal-content{
    padding-bottom: 0;
  }
  .variable-btns>.variable-btns__copy{
    display: block;
  }
}
