.donate {
  display: block;
  padding-bottom: 5rem;
  margin-top: 1rem;
  text-align: center;
  form {
    display: inline-block;
  }
  .title {
    padding-bottom: .8rem;
    text-align: center;
    .lang {
      display: none;
    }
    &.cn .cn, &.en .en {
      display: block;
    }
  }
  .bd {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.zhifubao, .wechatpay {
  margin-right: 1rem;
  margin-top: -3rem;
  width: 5rem;
}

.paypal {
  width: 5rem;
}

body.dark {
  .zhifubao, .wechatpay, .paypal {
    background-color: #fff;
  }
}
