.main {
  padding-top: 2.5rem;
}

.main-title {
  text-align: center;
  padding: 0 1.2rem;
  > header a {
    color: inherit;
    text-decoration: none;
    &:visited, &:link, &:active, &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  h1 {
    font-family: "Dressedless Three",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    &.animated span {
      transition: color 250ms linear;
      /*C*/
      &:nth-child(1) {
        color: #3369e8;
        transition-delay: 200ms;
      }
      /*O*/
      &:nth-child(2) {
        color: #d50f25;
        transition-delay: 350ms;
      }
      /*D*/
      &:nth-child(3) {
        color: #eeb211;
        transition-delay: 500ms;
      }
      /*E*/
      &:nth-child(4) {
        color: #3369e8;
        transition-delay: 650ms;
      }
      /*L*/
      &:nth-child(5) {
        color: #009925;
        transition-delay: 800ms;
      }
      /*F*/
      &:nth-child(6) {
        color: #d50f25;
        transition-delay: 950ms;
      }
    }
  }
  h5 {
    max-height: 300px;
    transition: all 250ms ease-in-out;
    overflow: hidden;

    .label {
      background-color: #71b7fd;
    }
  }
}

.search-form {
  padding: 1rem 0;
  .input-group{
    height: 44px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    &:focus, &:active, &:hover {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }
  input, button, a {
    height: 44px;
    line-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0 !important;
  }
  .dropdown-menu {
    max-height: 320px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
  }
  button.search{
    .more{
      display: none;
    }
    &.more{
      .normal{
        display: none;
      }
      .more{
        display: inline-block;
      }
    }
  }
}
.search-relate a:hover {
  text-decoration: underline;
}

.search-result {
  padding-top: .8rem;
  .ct {
    border-left: .15rem solid #eceeef;
    background: none;
    &.ct--white {
      border-left: 0;
    }
  }
  .variable-wrap {
    display: inline-block;
    cursor: pointer;
    .btn-sm {
      margin-right: .4rem;
      padding: 0 .4em;
      font-weight: bold;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .hd {
    text-align: center;
    > div {
      text-align: center;
      display: none;
    }
    &.loading .loading, &.error .error {
      display: block;
      margin: 0 auto;
    }
    .logo {
      margin: 0 auto 1rem;
    }
  }
}
.notice-link{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  background: #fff;
}
.notice-link a {
  display: none;
}
.popover--variable {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #ccc;
  .popover-content {
    padding: 0;
  }
  .btn {
    border-bottom: 0;
  }
}
.variable-btns > .variable-btns__copy {
  display: none;
}
body.mobile .variable-btns__copy {
  display: none !important;
}
body.dark {
  .search-form .input-group {
    box-shadow: 0 2px 2px 0 rgba(255,255,255,0.16), 0 0 0 1px rgba(255,255,255,0.08);
    &:focus, &:active, &:hover {
      box-shadow: 0 3px 12px 0 rgba(255,255,255,0.2), 0 0 0 1px rgba(255,255,255,0.08);
    }
  }
  .search-result {
    .ct, hr {
      border-color: rgba(0,0,0,.16);
    }
  }
  .notice-link {
    background: #272b38;
  }
  .popover--variable {
    border-bottom: 0;
  }
}
@media (max-width: 767px){
  .search-form {
    button.search{
      border-top-right-radius: .25rem !important;
      border-bottom-right-radius: .25rem !important;;
    }
  }
}
@media (max-width: 34em) {
  .search-result {
    .ct {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}
@media (min-width: 62em) {
  .main-title h1 {
    font-size: 4.5rem;
  }
  .search-relate {
    padding-bottom: 1.8rem;
  }
  .search-result .ct {
    overflow-x: auto;
  }
  .variable-btns > .variable-btns__copy {
    display: block;
  }
}
@media (min-width: 100em) {
  .main {
    padding-top: 5rem;
  }
}
