.donate {
  padding: 2rem 0;
  text-align: center;

  form {
    display: inline-block;
  }

  .hd {
    padding-bottom: .8rem;
    text-align: center;
    color: var(--text-primary);
  }

  .bd {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .zhifubao,
  .wechatpay,
  .paypal {
    margin: 0 0.5rem;
    width: 5rem;
    background: var(--bg-primary);
    border-radius: 0.1rem;
    border: 1px solid var(--border-primary);
  }
}
