.main-container {
  $dark-theme: 'body.dark &';
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  .title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    transition: margin 0.35s $anim-cubic-bezier;
    @media screen and (min-width: 50rem) {
      margin-top: 8rem;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:visited, &:link, &:active, &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    span {
      font-family: "Dressedless Three", Lato, Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: 100;
      @media screen and (min-width: 50rem) {
        font-size: 5rem;
      }
    }

    &.animated span {
      @extend %animate;
      animation-name: fadeIn;
      animation-duration: 250ms;
      animation-delay: 100ms;
      /*C*/
      &:nth-child(1) {
        color: #4285F4;
      }

      /*O*/
      &:nth-child(2) {
        color: #DB4437;
      }

      /*D*/
      &:nth-child(3) {
        color: #F4B400;
      }

      /*E*/
      &:nth-child(4) {
        color: #4285F4;
      }

      /*L*/
      &:nth-child(5) {
        color: #0F9D58;
      }

      /*F*/
      &:nth-child(6) {
        color: #DB4437;
      }
    }
  }

  #{$dark-theme} {
    .title {
      margin-top: 3rem;
      margin-bottom: 0;
      @media screen and (min-width: 50rem) {
        margin-top: 5rem;
        margin-bottom: 1rem;
      }
    }
  }

  .search-bar {
    padding: 1rem 0;
    width: 100%;
    @media screen and (min-width: 50rem) {
      width: 45rem;
    }

    form {
      padding: 0;
      margin: 0;
      border: 0;
    }

    &__desc {
      opacity: 0.5;
      padding-left: 0.8rem;
      font-size: 0.8rem;
      line-height: 1;
      margin-bottom: 0.2rem;
      @media screen and (min-width: 50rem) {
        padding-left: 1.4rem;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }

    &__input {
      background: #F1F3F4;
      border-radius: 5rem;
      transition: box-shadow 350ms $anim-cubic-bezier;

      &:focus, &:active, &:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
      }

      input {
        background: #F1F3F4;
        border-radius: 5rem;
        border: 0 !important;
      }
    }

    &__dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -0.4rem;
      margin-left: 1rem;

      i {
        opacity: 0.5;
        font-size: 1rem;
        &:hover {
          opacity: 1;
        }
        @media screen and (min-width: 50rem) {
          font-size: 1.2rem;
        }
      }
    }

    &__plugins {
      padding-left: 0.8rem;
      color: inherit;
      opacity: 0.5;
      font-size: 0.8rem;
      a, a:hover, a:link, a:active, a:focus, a:visited {
        color: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
      @media screen and (min-width: 50rem) {
        padding-left: 1.4rem;
        font-size: 1rem;
      }
    }
  }

  #{$dark-theme} {
    .search-bar {
      &__input {
        &:focus, &:active, &:hover {
          box-shadow: $box-shadow;
        }
      }
    }
  }

  .suggestion {
    padding-bottom: 2rem;
    max-width: 100%;
    @media screen and (min-width: 50rem) {
      min-width: 43rem;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .variable-list {
    width: 100%;
    text-align: center;

    .label {
      @extend .pointer-link;
      margin: 0.4rem 0.4rem 0 0;
      &:hover {
        box-shadow: $box-shadow;
      }
      &.animated {
        transform: translateZ(0);
        will-change: transform;
      }
    }

    hr {
      width: 70%;
      border-color: rgba(0, 0, 0, .16);
      margin-top: 1rem;
    }
  }

  .search-error {
    margin: 1rem 0;
  }

  .slogan-image {
    padding: 2rem 1rem;
    @media screen and (min-width: 50rem) {
      padding: 4rem 1rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

