.notice-container {
  $dark-theme: 'body.dark &';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  background-color: #fff;
  transition: background-color 150ms ease-in-out;
  @at-root {
    #{$dark-theme} {
      background-color: $dark;
    }
  }
  a {
    display: none;
    color: #70B7FD;
    &.show {
      display: block;
    }
  }
}
