@mixin clearfix() {
  & {
    &::before,
    &::after {
      content: "";
      display: table;
    }
    &::after {
      clear: both;
    }
  }
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.up-first {
  &::first-letter {
    text-transform: uppercase
  }
}

.pointer-link {
  cursor: pointer;
}

.hidden-link {
  &#{&} {
    color: #000;
  }
  &#{&}:hover {
    color: #1e70bf;
  }
}

.fix-break-word, p {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.fix-modal.fix-modal.fix-modal.fix-modal {
  height: 97%;
  margin: 0 auto;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  &#{&} > .content {
    padding: 0.4rem 1rem;
    margin: 0;
    height: 91%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 50rem) {
  .fix-modal.fix-modal.fix-modal.fix-modal {
    height: auto;
    overflow: visible;
    .close.icon {
      top: 0.5rem;
      right: 0.5rem;
      color: rgba(0,0,0,.87);
    }
    &#{&} > .content {
      height: auto;
      overflow-y: visible;
    }
  }
}

.fix-dropdown-menu {
  -webkit-overflow-scrolling: touch;
}
