@mixin clearfix() {
  & {
    &::before,
    &::after {
      content: "";
      display: table;
    }
    &::after {
      clear: both;
    }
  }
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.up-first {
  &::first-letter {
    text-transform: uppercase
  }
}

.pointer-link {
  cursor: pointer;
}

.hidden-link {
  color: #000 !important;
  &:hover {
    color: #1e70bf !important;
  }
}

.fix-break-word, p {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.fix-modal {
  height: 94%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  .content {
    padding: 0.4rem !important;
    margin: 0 !important;
    height: 90%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 50rem) {
  .fix-modal {
    height: auto;
    overflow: visible;
    .close.icon {
      top: -2rem;
      right: -2rem;
    }
    .content {
      height: auto;
      overflow-y: visible;
    }
  }
}

.fix-dropdown-menu {
  -webkit-overflow-scrolling: touch;
}
