.bookmark-logo {
  cursor: pointer;
  color: #70B7FD;
}

.bookmark-modal {
  .modal-header{
    .btn, .btn-group{
      margin-right: .4rem;
      &:last-child{
        margin-right: 0;
      }
    }
    .btn-group{
      padding: 0;
      margin: 0;
    }
  }
  .modal-body {
    padding: 0;
    > .hd {
      display: none;
      padding: 1rem;
      > div {
        display: none;
      }
      &.loading, &.empty, &.loading > .loading, &.empty > .empty {
        display: block;
        margin: 0 auto;
      }
      > .empty {
        text-align: center;
        .top {
          margin: 2rem;
        }
        .tip {
          text-align: left;
        }
      }
    }
  }
  .card-block, .card-header {
    padding: .5rem;
    color: #373a3c;
  }
  .card-footer {
    padding: 0 0 .2rem .2rem;
  }
  .repo-list {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .repo-group-item {
    border: 0;
    margin-bottom: 0;
    > .hd {
      .dropdown-menu {
        min-width: initial;
      }
      .search {
        display: none;
        cursor: pointer;
        max-width: 70%;
        margin-top: -0.25rem;
      }
    }
    &[data-id="0"] > .hd .search {
      display: block;
    }
    .hd .ctrl > div {
      display: inline-block;
      padding: 0 .4rem;
      cursor: pointer;
    }
    &[data-id="0"] > .hd .ctrl {
      display: none;
    }
    .repo-item {
      border-top: 0;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      &:last-child {
        margin-bottom: 0;
      }
      .card-footer {
        border-top: 0;
      }
      a {
        word-break: break-all;
      }
    }
  }
  .dropdown-menu .dropdown-item.add-repo {
    .label {
      width: 1.15rem;
      height: 1.15rem;
      margin-bottom: -0.2rem;
      i {
        display: none;
        color: #fff;
      }
    }
    &[data-selected] .label {
      padding-left: 0;
      padding-right: 0;
      i {
        display: inline-block;
      }
    }
  }
  .tag-dots span {
    margin-left: .25rem;
  }
}

.bookmark-user-modal {
  .user-item:first-child {
    margin-top: 1rem;
  }
  .user-list .ctrl {
    margin-top: -0.25rem;
  }
}

@media (max-width: 34em) {
  .bookmark-modal {
    .tag-dots span {
      margin-left: -.25rem;
    }
    .modal-header {
      .btn{
        padding: .25rem;
        margin-right: .25rem;
      }
    }
  }
}
