.fix-break-word, p {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.label {
  margin-right: .4rem;
}
.blockquote {
  border: none;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
.jumbotron{
  margin-bottom: 0;
}
.highlight {
  background-color: #FFFF88;
}
.modal-header .close {
  padding-left: .65rem;
}

.modal--fix {
  max-height: 98%;
  .modal-dialog {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .modal-content {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 8%;
  }
  .modal-body {
    max-height: 98%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 62em) {
  .modal--fix {
    max-height: none;
    .modal-dialog, .modal-content, .modal-body {
      height: auto;
      overflow: auto;
    }
    .modal-content {
      padding-bottom: 0;
    }
  }
}
